<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Metadata.Title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        {{ define "prompt" }}
        <span class="prompt">[visitor@manne.dev:{{ .DirPath }}]$</span>
        {{ end }}
        {{ if .Index }}
        <nav>
            {{ template "prompt" . }}<span> tree -L1</span>

            <div class="dir">{{ .DirPath }}</div>
            <ul>
            
                {{ if slice .DirPath 1 }}
                    <li><a href=".." class="dir">..</a></li>
                {{ end }}

                {{ range .Index }}
                <li><a href="{{ .Href }}" {{ if .IsDir }} class="dir" {{ end }}>{{ .Path }}</a></li>
                {{ end }}
            </ul>
        </nav>
        {{ end }}

        {{ if .BaseName }}
        {{ template "prompt" . }}<span> cat {{ .BaseName }}</span>
        {{ end }}
    </header>
    <main>
        {{.Content}}
    </main>
</body>
</html>